[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]
black = "==21.11b1"

[requires]
python_version = "3.8"
